
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.seccionPricipal{
  flex-grow: 1;
}

.seccionPricipal{

  background: #f9fafb;

}

.colorEstilo{
  color: #ea580c;
}

.buttonMenu{

  background: #ea580c;
}

.cardTransicion{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 
  transform 0.3s ease,
  box-shadow 0.3s ease;
  border: 0;

}

.cardTransicion:hover{
  transform: translateY(-1px);
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.25);
}

.cardImagenReceta{
  height: 200px;
  object-fit: cover;
}

.modalImagen{
  height: 400px;
  object-fit: cover;
}


.table th{
  padding: 15px 20px;
  background: #cacaca;
}

.table td{
  padding: 10px 20px;
}

.img-fila{
  width: 100px;
  height: 100px;
}

textarea{
  resize: none;
}

li::marker{
  color: #ea580c;
}

